@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;800&display=swap");
html, body{
  background-color: #E78434;
}

h1 {
  font-size: 20px;
  font-weight: 200;
  text-decoration: none;
  color: white;
  font-family: "JetBrains Mono";
}

.links {
  margin-top: 100px !important;
  margin-bottom: 120px !important;
}
