*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 75px 1fr;
    gap: 20px;
}

header {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
    font-family: var(--title-font);
    font-size: 1.25vh;
    font-weight: bold;
    background: var(--main-color);
    color: var(--contrast-color);
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
}

.app-icon {
    margin-left: 5px;
    display: flex;
    align-items: center;
}

nav {
    margin-right: 5px;
    display: flex;
    align-items: center;
}

nav a {
    padding: 10px;
    font-family: var(--title-font);
    font-size: 1.5vh;
    color: var(--contrast-color);
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
}

nav a:hover {
    background-color: var(--contrast-color);
    color: var(--white-color);
}
