* {
  margin: 0;
  padding: 0;
}

.NavBar {
  width: 100%; /* Utiliser 100% pour la réactivité */
  max-width: 430px; /* Largeur maximale */
  height: 100px;
  background-color: #FEF2DC;
  display: grid; /* Utiliser flex pour l'alignement */
  grid-template-columns: auto 1fr auto;
  padding: 0 20px; /* Espacement horizontal */
  flex-direction: row; /* Alignement horizontal */
  align-items: center;
}

.NavBar img {
  width: 74.05px;
  height: 75px;
  border-radius: 40px;
}

.refuges, .gardiens, .and {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.18px;
  color: #F9A243;
}


.and {
  font-size: 48px;
  line-height: 56.35px;
}

.regard {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

.title {
  display: flex;
  justify-content: flex-start;
}

.icon {
  display: flex;

}

.icon svg {
  padding: 0 3px;
}